.Home {
    margin-top: 100px;
    height: 600px;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 100px
}

.spline-scene {
    z-index: -1000;
    margin-top: -20px;
    height: 1000px;
    width: 500px;
}

.hero-text {
    font-size: 65px;
    z-index: 1000px;
    margin-top: -400px;
    margin-left: 100px;
    margin-right: 100px;
    color: #242E49;
}